.movies {
  padding: 8px;
}

.movie {
  width: 31%;
  border: 2px solid #333;
  border-radius: 4px;
  margin-bottom: 25px;
  padding-right: 10px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  float: left;
  margin-right: 10px;
  text-align: center;
  padding: 8px;
}

.is-scrollable {
  overflow-y: scroll;
}

.is-scrollable::-webkit-scrollbar {
  width: 10px;
}

.is-scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1em;
}

.is-scrollable::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #888;
}

.is-scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}
