.search {
  overflow: hidden;
  padding: 8px;
}

.search--container {
  padding: 16px;
  background-color: salmon;
  border-radius: 8px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search--categories,
.search--form {
  overflow: hidden;
  padding: 8px;
  height: 100%;
  border-radius: 8px;
}
.search--categories-selector {
  padding: 16px;
  background-color: salmon;
  border-radius: 8px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffff;
  display: flex;
  justify-content: center;

  font-size: 32px;

  color: white;
}

.search--form-container {
  padding: 16px;
  background-color: salmon;
  border-radius: 8px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffff;
  display: flex;
  justify-content: center;
}

.search--input {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 32px;
}
